<div class="container mt-2">

    <ng-container *ngIf="customers as listCustomers; else failureOrLoading">
        <div class="card">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <form [formGroup]="searchFromGroup" (ngSubmit)="handleSearchCustomers()">
                    <div class="form-row">
                        <div class="form-group
                            col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" formControlName="keyword">
                        </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers">
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger" *ngIf="errorMessage">
                {{ errorMessage}}
            </div>
        </ng-container>

        <ng-template #loading>
            <div class="text-info">Loading...</div>
        </ng-template>
    </ng-template>

</div>