<div class="container mt-2">

    <ng-container *ngIf="customers as listCustomers; else failureOrLoading">
        <div class="card">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <div *ngIf="searchFromGroup">
                    <form [formGroup]="searchFromGroup" (ngSubmit)="handleSearchCustomers()">
                        <div class="input-group">
                                <label for="name" class="input-group-text">Keyword : </label>
                                <input type="text" class="form-control" id="name" formControlName="keyword">
                                <button type="submit" class="btn btn-info">
                                    <i class="bi bi-search"></i> Search
                                </button>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers">
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td class="text-end">
                                <!-- <button class="btn btn-info" (click)="handleEditCustomer(customer)">
                                <i class="bi bi-pencil"></i> 
                                </button> -->
                                <button class="btn btn-danger" (click)="handleDeleteCustomer(customer)">
                                <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger" *ngIf="errorMessage">
                {{ errorMessage}}
            </div>
        </ng-container>

        <ng-template #loading>
            <div class="text-info">Loading...</div>
        </ng-template>
    </ng-template>

</div>